/* Footer */

#footer {
	padding: 6em 0 4em 0;
	background: #25a2c3;
	text-align: center;
	color: #c8e7f0;
}

#footer h2 {
	color: #fff;
}

#footer .icon {
	color: #f6755e;
}

#footer a {
	color: #c8e7f0;
	text-decoration: none;
}

#footer ul li {
	padding: 0 2em;
}

#footer .copyright {
	display: inline-block;
	color: #a7d9e7;
	font-size: 0.75em;
	margin: 0 0 2em 0;
	padding: 0;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	padding: 2em 10em;
}

@media screen and (max-width: 980px) {

	#footer {
		padding: 3em 0 1em 0;
	}

	#footer ul li {
		display: block;
		padding: .25em 0;
	}

}

@media screen and (max-width: 736px) {

	#footer .copyright {
		padding: 2em 5em;
	}

}

@media screen and (max-width: 480px) {

	#footer {
		padding: 2em 0 0.1em 0;
	}

	#footer ul li {
		font-size: .9em;
	}

	#footer ul li .icon:before {
		margin-left: -1em;
	}

	#footer .copyright {
		padding: 2em 0;
	}

}