/* Header */

body {
	padding-top: 6em;
}

#header {
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	background: white;
	cursor: default;
	height: 6em;
	left: 0;
	line-height: 6em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10001;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
	text-align: center;
}

#header .logo {
	color: #f6755e;
	font-family: "Pacifico", cursive;
	font-size: 2.5em;
	letter-spacing: 2px;
	margin-top: -5px;
	text-decoration: none;
	display: inline-block;
}

#header nav {
	position: absolute;
	top: 0;
	height: inherit;
	line-height: inherit;
}

#header nav.left {
	left: 2em;
}

#header nav.right {
	right: 2em;
}

#header nav .button {
	padding: 0 2em;
	height: 3.25em;
	line-height: 3.25em;
}

#header nav a {
	text-decoration: none;
	display: inline-block;
}

#header nav a[href="#menu"] {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	font-size: 2em;
	color: #dee1e3;
	z-index: 10005;
}

#header nav a[href="#menu"]:before {
	content: "";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

#header nav a[href="#menu"] span {
	display: none;
}

#header nav a[href="#menu"]:before {
	margin: 0 0.5em 0 0;
}

@media screen and (max-width: 980px) {

	body {
		padding-top: 44px;
	}

	#header {
		height: 44px;
		line-height: 44px;
	}

	#header .logo {
		font-size: 1.25em;
		text-align: center;
	}

	#header nav a[href="#menu"] {
		font-size: 1.5em;
	}

	#header nav.left {
		left: 1em;
	}

	#header nav.right {
		display: none;
	}

}

@media screen and (max-width: 480px) {

	#header {
		min-width: 320px;
	}

}